.postPlayer {
  background-color: var(--theme-card-bg);
  border: 1px solid var(--theme-border-color);
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.upperDiv {
  width: 100%;
  display: flex;
}

.upperDiv img {
  /* height: 100px;
  width: 100px; */
  height: 100%;
  max-height: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-right: 24px;
}
.contentDiv {
  flex-grow: 1;
  padding: 12px 34px 12px 0px;
}
.lowerDiv {
  width: 100%;
  background-color: var(--theme-secondary-bg);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.divider {
  width: calc(100% - 68px);
  margin-right: 34px;
  height: 1px;
  background-color: var(--theme-line-color);
  opacity: 0%;
}
.divider.open {
  opacity: 100%;
}

.transcript {
  transition: all 0.1s;
  padding: 0px 34px 0px 34px;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.transcript.open {
  padding: 24px 34px 34px 34px;
  height: auto;
  transform: translateY(0%);
  opacity: 1;
}
.transcript p {
  line-height: 1.5em;
  letter-spacing: 0.025em;
}
