@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bitter", serif;
}

:root {
  --lavender: #bbbeff;
  --theme-main-text: #ffffff;
  --theme-secondary-text: #b7b7b7;
  --theme-main-bg: #4b4b4b;
  --theme-secondary-bg: #4d4d4d;
  --theme-card-bg: #3a3a3a;
  --theme-line-color: #7a7979;
  --theme-border-color: #3c3c3c;
}

body {
  background-color: var(--theme-main-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--theme-main-text);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
